.vscode/
Cours/
*.exe
*.docx
*.xlsx
*.pptx
*.zip
TD/Controle.pdf
TD/Test.c
TD/Exercice de Test.pdf
Assignments/Cashless.c
Assignments/Credit.c
Assignments/MarioLess.c
TP/S3*.c
TD/Test2.c
TD/S4E1.c
TD/S4E2.c
TD/S4E3.c
TD/S4E4.c
TP/S4E1.c
TD/S3E9.c